<ul id="kata">
<% if !@katas.blank? -%>
  <% for problem in @katas -%>
    <li><%=h problem.title %></li>
  <% end -%>
<% else -%>
<% end -%>
</ul>
<ul id="randori">
<% if !@randoris.blank? -%>
  <% for problem in @randoris -%>
    <li><%=h problem.title %></li>
  <% end -%>
<% else -%>
<% end -%>
</ul>
<%= link_to 'New', new_problem_path %>
