body {
  font-family: Tahoma, "MS Trebuchet", Arial, helvetica, sans-serif;
}

#hd {
  background: transparent url("../images/tatame.jpg") no-repeat top center;
  height: 170px;
}

#hd h1 {
  text-indent: -1000px;  
}

#bd {
  padding-top: 20px;
}
