<h1>Tatame</h1>

<div id="next">
	<span id="date"><%=h @dojo.date %></span>
	<span id="time"><%=h show_time(@dojo.time) %></span>
	
	<ul>
	</ul>
</div>
<div id="schedule">
	<ol>
		<% for dojo in @dojos %>
				<li><%=h dojo.date %> - <%=h show_time(dojo.time) %></li>
		<% end %>
	</ol>
</div>