<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>Coding Dojo Caelum</title>
	<%= stylesheet_link_tag 'reset-fonts-grids', :media => 'all' %>
	<%= stylesheet_link_tag 'dojo' %>
	<%= javascript_include_tag :all %>
</head>

<body>
<div id="doc" class="yui-t2">
  <div id="hd">
    <h1>Coding Dojo Caelum</h1>
  </div>
  <div id="bd">
    <div class="yui-b">
      Lista
    </div>
    <div id="yui-main">
      <div class="yui-b">
        <%= yield %>
      </div>
    </div>
  </div>
  <div id="ft">
    Copyleft Caelum
  </div>
</div>
</body>
</html>
